---
import { SEO } from 'astro-seo';
import Head from '../components/Head.astro';
import { defaultSeo } from '../utils/defaultSeo';

const seo = {
  title: 'Page Not Found',
  description:
    'Page not found. Please check the URL or return to the homepage.',
  noindex: true,
};

const seoData = { ...defaultSeo, ...seo };
---

<!doctype html>
<html>
  <Head>
    <SEO
      title={seoData.title}
      titleTemplate={seoData.titleTemplate}
      description={seoData.description}
      noindex={seoData.noindex}
      charset={seoData.charset}
      languageAlternates={seoData.languageAlternates}
      extend={seoData.extend}
    />
  </Head>
  <body>
    <h1>Page Not Found</h1>
    <nav>
      <a href="/">Volver a Inicio</a>
      <a href="/en">Return to Home</a>
    </nav>
  </body>
</html>

<style>
  body {
    display: grid;
    place-items: center;
    align-content: center;
    gap: 1em;
  }

  h1 {
    font-size: 2.75rem;
  }

  nav {
    display: flex;
    gap: 1em;
    color: var(--color-accent);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
