---
import { projects } from '../cms/queries';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
const seo = {
  title: 'Discography',
  description:
    'Explora la discografía de GUARDA, el proyecto sonoro de Joel Rico Rada, y escucha sus álbumes de música experimental y ambiental.',
};
---

<Layout seo={seo}>
  <main transition:name="main" transition:animate="fade">
    {
      projects.map(({ coverUrl, title, bandcampLink }, index) => (
        <Project
          img={coverUrl}
          alt={`Portada de ${title}`}
          title={title}
          link={bandcampLink}
          loading={index < 3 ? 'eager' : 'lazy'}
        />
      ))
    }
  </main>
</Layout>

<style>
  main {
    --grid-element-size: clamp(150px, 15em, 420px);

    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--grid-element-size), 1fr)
    );
    gap: clamp(1px, 2.5em, 50px);
    align-content: start;
  }

  @media screen and (width >= 825px) {
    main {
      --grid-element-size: clamp(200px, 18em, 380px);
    }
  }
</style>
