---
import Event from './Event.astro';
const { year, events } = Astro.props;
---

<h2>{year}</h2>
<ul>
  {
    events.map(({ date, city, country, title, link }) => (
      <li>
        <Event
          date={date}
          city={city}
          country={country}
          title={title}
          link={link}
        />
      </li>
    ))
  }
</ul>

<style>
  ul {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 0.35em;
  }

  h2 {
    font-size: 1.25rem;
  }
</style>
