---
const { date, city, country, title, link } = Astro.props;
const currentLocale = Astro.currentLocale;
---

<p>
  <strong
    >{
      new Date(date).toLocaleDateString(currentLocale, {
        month: 'long',
        day: 'numeric',
      })
    } |
  </strong>
  <em>{city}, {country} | </em>
  {link ? <a href={link}>{title}</a> : <span>{title}</span>}
</p>

<style>
  a {
    color: var(--color-accent);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
