---
import { Image } from 'astro:assets';

const { img, alt, title, link } = Astro.props;
---

<div>
  <a href={link}>
    <Image
      src={img}
      alt={alt}
      widths={[480, 720, 1400]}
      inferSize
      sizes={'(max-width: 496px) 480px, (max-width: 720px) 720px, 1400px'}
    />
  </a>
  <p><a href={link}>{title}</a></p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  p a:hover {
    color: var(--color-dark-hover);
  }
</style>
