---
import { Image } from 'astro:assets';

const { img, alt, title, link, loading } = Astro.props;
---

<a href={link}>
  <Image
    src={img}
    alt={alt}
    widths={[480, 720]}
    inferSize
    sizes={'(max-width: 496px) 480px, 720px'}
    loading={loading}
  />
  <p>{title}</p>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  p {
    font-size: 0.9rem;
  }

  a:hover p {
    color: var(--color-text-hover);
  }
</style>
