---
import { Image } from 'astro:assets';

const { img, alt, title, link } = Astro.props;
---

<div>
  <a class="whatever" href={link}>
    <Image
      src={img}
      alt={alt}
      widths={[320, 540, 720]}
      inferSize
      sizes={'(max-width: 360px) 320px, (max-width: 720px) 540px,' +
        `(max-width: 1600px) 720px`}
    />
  </a>
  <p><a href={link}>{title}</a></p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  p a:hover {
    color: var(--color-dark-hover);
  }
</style>
