---
import { Image } from 'astro:assets';

const { img, alt, title, link, loading } = Astro.props;
---

<a href={link}>
  <Image
    src={img}
    alt={alt}
    widths={[240, 320, 480, 720, 960, 1200]}
    inferSize
    sizes={'(min-width: 1480px) 404px, (min-width: 1100px) 26.11vw, (min-width: 640px) calc(47.95vw - 60px), (min-width: 500px) calc(48.33vw - 30px), calc(98.89vw - 37px)'}
    loading={loading}
  />
  <p>{title}</p>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  p {
    font-size: 0.9rem;
  }

  a:hover p {
    color: var(--color-text-hover);
  }
</style>
