---
import { SEO, type TwitterCardType } from 'astro-seo';
import { Schema } from 'astro-seo-schema';
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import '../../node_modules/normalize.css/normalize.css';
import Dropdown from '../components/Dropdown.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import { defaultSeo } from '../utils/defaultSeo';

const { title, description, structuredData, backgroundImage } = Astro.props;
const currentLocale = Astro.currentLocale;
const pageUrl = Astro.url.href;

// Might need a refactor to enhance flexibility - it is so rigid
const seo = {
  ...defaultSeo,
  title,
  description,
  openGraph: {
    ...defaultSeo.openGraph,
    basic: {
      ...defaultSeo.openGraph.basic,
      title: `${title} | ${defaultSeo.openGraph.basic.title}`, // Page | GUARDA
    },
    optional: {
      ...defaultSeo.openGraph.optional,
      description,
    },
  },
  twitter: {
    ...defaultSeo.twitter,
    title: `${title} | ${defaultSeo.twitter.title}`, // Page | GUARDA
    description,
    card: defaultSeo.twitter.card as TwitterCardType, // fix ts screaming
  },
};

// set both in one line
seo.openGraph.basic.url = seo.canonical = pageUrl;
seo.openGraph.optional.locale = currentLocale === 'es' ? 'es_ES' : 'en_US';
seo.openGraph.optional.localeAlternate =
  currentLocale === 'es' ? ['en_US'] : ['es_ES'];

// manage url's & i18n for structured data here
if (structuredData) {
  structuredData.url = pageUrl;
  structuredData.inLanguage = currentLocale;
  structuredData.alternateUrl = getAbsoluteLocaleUrl(
    currentLocale === 'es' ? 'en' : 'es',
    Astro.url.pathname.replace('/en', '')
  );
}

/* console.log(
  Astro.url.pathname,
  currentLocale,
  getAbsoluteLocaleUrl(
    currentLocale === 'es' ? 'en' : 'es',
    Astro.url.pathname.replace('/en', '')
  )
);
 */
const background = backgroundImage ? `url(${backgroundImage.src})` : 'none';
---

<!doctype html>
<html lang={currentLocale}>
  <Head>
    <SEO
      title={seo.title}
      titleTemplate={seo.titleTemplate}
      description={seo.description}
      canonical={seo.canonical}
      charset={seo.charset}
      languageAlternates={seo.languageAlternates}
      openGraph={seo.openGraph}
      twitter={seo.twitter}
      extend={seo.extend}
    />
    <Schema item={structuredData} />
  </Head>
  <body class:list={[backgroundImage ? 'background-image' : '']}>
    <div class="page-wrapper">
      <Header transparent={Boolean(backgroundImage)} />
      <slot />
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
    <Dropdown />
  </body>
</html>

<style define:vars={{ background }}>
  body {
    width: 100dvw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
  }

  .background-image {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }
</style>
