---
import { ClientRouter } from 'astro:transitions';
import Dropdown from '../components/Dropdown.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import '../styles/reset.css';
import '../styles/global.css';

const { title, description, lang, backgroundImage } = Astro.props;

const background = backgroundImage ? `url(${backgroundImage.src})` : 'none';
---

<!doctype html>
<html lang={lang}>
  <Head>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter fallback="swap" />
  </Head>
  <body class:list={[backgroundImage ? 'background-image' : '']}>
    <div class="page-wrapper">
      <Header transparent={Boolean(backgroundImage)} />
      <slot />
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
    <Dropdown />
  </body>
</html>

<style define:vars={{ background }}>
  body {
    width: 100dvw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
  }

  .background-image {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }
</style>
