---
import { SEO, type TwitterCardType } from 'astro-seo';
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import '../../node_modules/normalize.css/normalize.css';
import Dropdown from '../components/Dropdown.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import { defaultSeo } from '../utils/defaultSeo';

const { title, description, backgroundImage } = Astro.props;
const { currentLocale } = Astro;
const { href: currentUrl, pathname: currentPath } = Astro.url;

const relativePath = currentPath.replace('/en', '');

// Might need a refactor to enhance flexibility - it is so rigid
const seo = {
  ...defaultSeo,
  title,
  description,
  languageAlternates: [
    { href: getAbsoluteLocaleUrl('es', relativePath), hrefLang: 'es' },
    { href: getAbsoluteLocaleUrl('en', relativePath), hrefLang: 'en' },
    { href: getAbsoluteLocaleUrl('es', relativePath), hrefLang: 'x-default' },
  ],
  openGraph: {
    ...defaultSeo.openGraph,
    basic: {
      ...defaultSeo.openGraph.basic,
      title: `${title} | ${defaultSeo.openGraph.basic.title}`, // Page | GUARDA
    },
    optional: {
      ...defaultSeo.openGraph.optional,
      description,
    },
  },
  twitter: {
    ...defaultSeo.twitter,
    title: `${title} | ${defaultSeo.twitter.title}`, // Page | GUARDA
    description,
    card: defaultSeo.twitter.card as TwitterCardType, // fix ts screaming
  },
};

// set both in one line
seo.openGraph.basic.url = seo.canonical = currentUrl;

const localeCodes = { es: 'es_ES', en: 'en_US' };

seo.openGraph.optional.locale = localeCodes[currentLocale];
seo.openGraph.optional.localeAlternate =
  currentLocale === 'es' ? [localeCodes.en] : [localeCodes.es];

const background = backgroundImage ? `url(${backgroundImage.src})` : 'none';
---

<!doctype html>
<html lang={currentLocale}>
  <Head>
    <SEO
      title={seo.title}
      titleTemplate={seo.titleTemplate}
      description={seo.description}
      canonical={seo.canonical}
      charset={seo.charset}
      languageAlternates={seo.languageAlternates}
      openGraph={seo.openGraph}
      twitter={seo.twitter}
      extend={seo.extend}
    />
    <slot name="inside-head" />
  </Head>
  <body class:list={[backgroundImage && 'background-image']}>
    <div class="page-wrapper">
      <Header transparent={Boolean(backgroundImage)} />
      <slot />
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
    <Dropdown />
  </body>
</html>

<style define:vars={{ background }}>
  body {
    width: 100dvw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
  }

  .background-image {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
  }
</style>
