---
import '@fontsource-variable/eb-garamond';
import ebGaramondWoff2 from '@fontsource-variable/eb-garamond/files/eb-garamond-latin-wght-normal.woff2?url';
import '@fontsource/sorts-mill-goudy';
import { ViewTransitions } from 'astro:transitions';
import Dropdown from '../components/Dropdown.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
import '../styles/reset.css';

const { title, description, lang, viewportRestricted } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={ebGaramondWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <div
      class:list={[
        'page-wrapper',
        viewportRestricted ? 'viewport-restricted' : '',
      ]}
    >
      <Header /> 
      <slot />
      <Footer transition:name="footer" transition:animate="fade" />
    </div>
    <Dropdown />
  </body>
</html>

<style>
  html {
    font-size: calc(12px + 0.5vw);
    font-family: 'EB Garamond Variable', 'Sorts Mill Goudy', 'Times New Roman',
      Times, serif;
    background: var(--color-light);
    color: var(--color-dark);
  }

  body {
    width: 100dvw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
  }

  .viewport-restricted {
    height: 100dvh;
  }
</style>
